.genres-box{
    width: 100%;
}
.genres{
    padding-top: 120px;
color: white;
padding-bottom: 50px;
}
.genres-listBox{
    width: 100%;
    padding: 70px 0;
    position: relative;
}

.genres-list{
    width: 100%;
  display: grid;

  justify-content: space-between;
}
.genresText{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.genres-film{
    width: 100%;
    height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.genres-item{
    padding: 10px;
    background-color: transparent;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    margin: 0;
}
.genres-imgs{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 4px;
}
.genres-imgs>img{
    border-radius: 7px 7px 0 0 ;
}
.genres-items{
    position: relative;
    background-color: rgb(16, 16, 16);
    border: 1px solid rgb(74, 74, 74);
    border-radius: 10px;
    /* margin: 0; */
}
.genres-items>a{
    color: white;
}
.genres-pages{
    width: 150px;
    display: flex;
    position: fixed;
    z-index: 99;
    right: 5%;
    top: 25%;
    background-color: black;
    border: 1px solid #323232;
    padding: 5px;
    border-radius: 7px;
}
.genres-pages>input{
    width: 40px;
    height: 40px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 7px;
    background-color: #323232;
    color: white;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.genres-pages>button{
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: #121212;
    color: white;
    font-size: 20px;
}