.genres-box {
    width: 100%;
}

.genres {
    padding-top: 120px;
    color: white;
}

.genres-listBox {
    width: 100%;
    padding: 30px 0;
    position: relative;
}

.genres-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.genresText {
    width: 100%;
    height: 80px;
}

.genres-film {
    width: 100%;
    height: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-family: Manrope, sans-serif;
    font-weight: 800;
    color: white;
}
.genres-rating{
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
}
.genres-rating>span{
    color: red;
    margin-left: 0;
    font-family: Manrope, sans-serif;

}
.genres-rating>p{
    margin-right: 0;
    opacity: 0.7;
    font-weight: 400;
    color: white;
    font-family: Manrope, sans-serif;

}
.genres-item {
    padding: 10px;
    background-color: transparent;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
    margin: 0;
}

.genres-imgs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.genres-imgs>img {
    border-radius: 12px;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.genres-imgs>img:hover {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;


}

.genres-items {
    position: relative;
    border-radius: 10px;
    /* margin: 0; */
}

.genres-items>a {
    color: white;
}

.genres-pages {
    width: 150px;
    display: flex;
    position: fixed;
    z-index: 99;
    right: 5%;
    top: 35%;
    background-color: black;
    border: 1px solid #323232;
    padding: 5px;
    border-radius: 7px;
}

.genres-pages>input {
    width: 40px;
    height: 40px;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 7px;
    background-color: #323232;
    color: white;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.genres-pages>button {
    width: 40px;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    background-color: #121212;
    color: white;
    font-size: 20px;
}