.movieImg>img{
    width: 100%;
    height: 82%;
}
.filmtext{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: grey;
}
.filmtext>span{
    padding: 5px;
    border: 1px solid #393939;
    border-radius:15px;
}

.filmTime{
    margin-left: 0;
}
.filmView{
    margin-right: 0;
}