.hero-bg{
    position: relative;
    z-index: -1;
    width: 100%;
    height: 850px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    gap: 10px;
    overflow-x: hidden;
    user-select: none;
}
.bg-img{
    max-width: 160px;
    height: 200px;
    object-fit: cover;
    border-radius: 7px;
    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none; 
}
.hero{
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to bottom, #141414, rgba(0, 0, 0, 0.433), #141414);
}
.hero-img{
   width: 100%;
height: 100%;
   display: flex;
   align-items: center;
}
.hero-img>img{
    width: 30%;
}
.hero-text{
    margin-top: -150px;
    width: 100%;
    min-height: 300px;
}
.hero-text>h3{
    text-align: center;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-size: 50px;
    line-height: 2;
}
.hero-text>p{
    max-width: 1120px;
    text-align: center;
    color: grey;
}
.hero-btn{
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
}
.hero-btn>button{
    width: 200px;
    height: 50px;
    background-color: red;
    border-radius: 5px;
    outline: none;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 30px;
    cursor: pointer;
    font-family: 'Manrope', sans-serif;
}
.hero-btn>button>i{
    font-size: 25px;
}