.category-container {
    position: relative;
    margin-top: 60px;
}

.category-title {
    min-height: 100px;
    color: white;
    display: flex;
}

.top-category{
    margin-left: 0;
}
.top-category>h4 {
    font-size: 25px;
    margin-top: 5px;
    margin-left: 0;
}

.top-category>p {
    margin-top: 10px;
    color: grey;
    margin-left: 0;
}
.categoryList-box{
    position: relative;
}

.category-list {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    position: relative;
}

.category-item {
    padding: 10px;
    background-color: transparent;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}
.category-items{
    position: relative;
    background-color: rgb(16, 16, 16);
    border: 1px solid rgb(74, 74, 74);
    border-radius: 10px;
}
.category-imgs {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 14px;
    
}

.category-imgs>img {
    width: 48%;
    border-radius: 7px;
    object-fit: cover;
    height: 45%;
    
}

.category-imgs>p {
    width: 100%;
    flex-wrap: nowrap;
    display: flex;
    color: white;
    /* position: relative; */
}

.category-imgs>p>i {
  margin-right: 0;
}

.dots {
    width: 210px;
    height: 50px;
    background-color: black;
    border: 2px solid rgb(40, 40, 40);
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;
    margin-right: 0;
    margin-top: 20px;
}
.dots2{
    width: 150px;
    height: 5px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
margin-top: 7px;    
}
.dot {
    width: 15px;
    height: 3px;
    background-color: grey;
    cursor: pointer;
    border-radius: 2px;
}

.dot-active {
    width: 30px;
    background-color: red;
}

.dots>button {
    width: 37px;
    height: 37px;
    background-color: rgb(33, 33, 33);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}
.dots-inc2{
    position: absolute;
    top: 40%;
    width: 40px;
    height: 60px;
    background-color: rgb(33, 33, 33);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    color: white;
    left: 0;
}
.dots-inc3{
    position: absolute;
    top: 40%;
    right: 0;
    width: 40px;
    height: 60px;
    background-color: rgb(33, 33, 33);
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
    color: white;
}

.dots>button:first-child {
    margin-left: 0;
}

.dots>button:last-child {
    margin-right: 0;
}