.movies-container {
    width: 100%;
}

.movies-hero {
    min-height: 700px;
    padding-top: 150px;
    position: relative;
}

.movies-list {
    width: 100%;
    display: flex;
    overflow: hidden;
}

.movies-item {
    min-width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    border-radius: 15px;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}
.movies-title{
    min-width: 100%;
    height: 700px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgb(0, 0, 0));
    position: relative;
}
.movies-box{
    width: 100%;
    position: absolute;
    bottom: 20%;
    text-align: center;
}
.movie-text>h3{
    font-size: 35px;
    color: white;
}
.movie-text>p{
    width: 80%;
    color: white;
    opacity: 0.8;
    margin-top: 10px;

}
.movie-btns{
    width: 300px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.movie-play{
    padding: 15px 26px;
    outline: none;
    border: none;
    background-color: red;
    color: white;
    border-radius: 7px;
    cursor: pointer;
}
.movie-btn{
    min-width: 40px;
    max-width: 40px;
    border: 1px solid #292929;
    height: 40px;
    outline: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}
.movie-inc-dec{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    position: absolute;
    bottom: 5%;

}
.movie-inc{
    width: 40px;
    height: 40px;
    background-color: black;
    border: 1px solid #393939;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin: 0;
}
.movie-dots{
    width: 100px;
    display: flex;
    align-items: center;
}
.movie-dot{
    width: 13px;
    height: 5px;
    border-radius: 7px;
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}
.movie-dot-act{
    width: 20px;
    background-color: red;
}