.device-container{
    width: 100%;
    margin-top: 100px;
}
.device-title{
    max-width: 1100px;
    color: white;
    margin-left: 0;
}
.device-title>h4 {
    font-size: 25px;
    margin-top: 5px;
}

.device-title>p {
    margin-top: 10px;
    color: grey;
}

.device-list{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    justify-content: space-between;
    margin-top: 70px;
}
.device-item{
    width: 100%;
    height: 230px;
    border: 2px solid #2d2d2d;
    background: linear-gradient(15deg, rgba(0,0,0,1) 60%, rgba(65,6,6,0.891281512605042) 100%);
    border-radius: 12px;
    color: white;
    padding: 40px;
}
.device-top{
    width: 100%;
    display: flex;
    height: 60px;
    align-items: center;
}
.device-icon{
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #2d2d2d;
    margin-left: 0;
    border-radius: 7px;
    font-size: 20px;
    color: red;
    background-color: #0e0e0e;
}
.device-top>h4{
    max-width: 300px;
    width: 100%;
    margin-left: 10px;
}
.device-item>p{
    margin-top: 30px;
    color: grey;
}