/* Desktop */
@media (min-width: 1920px) {

    /* home respone */
    .bg-img {
        max-width: 196px;
        width: 100%;
    }

    .device-item {
        max-width: 550px;
        width: 100%;
    }

    .sub-item {
        max-width: 500px;
        width: 100%;
    }

    .category-item {
        min-width: 300px;
        height: 342px;

    }
}

/* Laptop */
@media (max-width: 1919px) {
    /* home respone */

    .bg-img {
        max-width: 196px;
        width: 100%;
    }

    .device-item {
        max-width: 550px;
        width: 100%;
    }

    .sub-item {
        max-width: 500px;
        width: 100%;
    }

    .category-item {
        min-width: 300px;
        height: 342px;

    }
  

}

@media (max-width: 1560px) {
    /* home respone */

    .question-item {
        max-width: 600px;
    }
.category-item{
    min-width: 280px;
    height: 300px;
}
.inMovie-desc, .inMovie-cast, .inMovie-reviews{
    max-width: 900px;
    margin-left: 0;


}
.reviews-item{
    min-width: 410px;
    height: 400px;

}
.review-item{
    height: 350px;

}
}


@media (max-width: 1390px) {
    /* home respone */
 
    .question-item {
        max-width: 550px;
    }

    .btn-sub {
        width: 150px;
    }

    .sub-title>p {
        max-width: 900px;
        margin-left: 0;
    }

    .device-list {
        grid-template-columns: auto auto;
    }
    .category-item{
        min-width: 240px;
        max-width: 240px;
    }

}


@media (max-width: 1255px) {
    /* home respone */

    .inMovie-desc, .inMovie-cast, .inMovie-reviews{
        max-width: 200px;
        margin-left: 0;
    
    
    }
    .bg-img {
        width: 140px;
    }

    .question-item {
        max-width: 500px;
    }

    .btn-sub {
        width: 120px;
    }

    .sub-title>p {
        max-width: 800px;
    }
}

@media (max-width: 1145px) {
    .box-list {
        overflow-y: hidden;
        gap: 10px;
    }
}

@media (max-width: 1145px) {
    /* home respone */

    .question-title>p {
        max-width: 700px;
        margin-left: 0;
    }

    .question-list {
        grid-template-columns: auto;
    }

    .question-item {
        max-width: 900px;
        width: 900px;
        min-width: 100%;
    }

}

@media (max-width: 1030px) {
    /* home respone */

    .sub-list {
        grid-template-columns: auto auto;
    }

    .btn-sub {
        width: 170px;
    }

    .sub-title>p {
        max-width: 700px;
    }

    .h-btns {
        width: 70px;
        padding: 0;
    }
}

@media (max-width: 1001px) {
    /* home respone */

    .question-item {
        max-width: 700px;
        width: 700px;
    }

    .question-top>p {
        width: 100%;
    }
    .movie-text{
        display: none;
    }

}

@media (max-width: 940px) {
    .sub-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .question-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .sub-item {
        max-width: 850px;
        width: 100%;
    }

    .sub-btns {
        bottom: -50px;
    }

    .device-item {
        max-width: 100%;
    }

    .device-icon {
        margin: 0;
    }

    .device-list {
        display: flex;
        flex-wrap: wrap;
    }

    .trial {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-direction: column;
    }

    .question-title>button {
        bottom: -50px;
    }

    .trial>button {
        margin-top: 10px;
    }
    .dots{
        margin-left: 0;
    }
}

@media (max-width: 786px) {
    /* home respone */

    .question-top>h4 {
        width: 300px;
    }

    .header {
        grid-template-columns: auto;
    }

    .footer-list {
        grid-template-columns: auto auto auto;
        gap: 20px;
    }

    .category-list{
        align-items: center;
        height: 250px;
    }
    .category-item{
        min-width: 200px;
        height: 220px;
    }
}

@media (max-width: 550px) {
    /* home respone */

    .btn-sub {
        width: 140px;
        max-width: 140px;
    }

    .question-top>h4 {
        width: 200px;
        min-width: 200px;
    }

    .footerB {
        flex-direction: column;
    }

    .footerB>p {
        width: 100%;
        text-align: center;
    }

    .footerB-list {
        display: flex;
        flex-wrap: nowrap;
        width: 100%;
        margin-top: 10px;
    }
    .inMovie-infoMax{
        grid-template-columns: auto;
    }
    .reviews-item{
        min-width: 380px;
    }
}
@media (max-width: 500px) {

    .inMovie-desc{
        min-height: 250px;
    }
}
@media (max-width: 430px) {
    /* home respone */

    .footer-list {
        grid-template-columns: auto auto;
    }

    .btn-sub {
        width: 130px;
    }

    .question-top>h4 {
        width: 120px;
        min-width: 120px;
    }

    .device-item {
        padding: 15px;
    }

    .sub-item {
        min-height: 350px;
    }
    .reviews-item{
        height: 600px;
    }.review-item{
        height: 550px;
    }
}

@media (max-width: 360px) {
    /* home respone */

    .btns-sub {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;
    }

    .btn-sub {
        width: 100%;
    }

}